<div>
  <form
    [formGroup]="loginForm"
    class="modal-content animate"
    action="/action_page.php"
    method="post"
  >
    <div class="imgcontainer">
      <img src="assets/images/avatar.png" alt="Avatar" class="avatar" />
    </div>

    <div class="container">
      <label id="username-label" for="uname"><b>Username</b></label>
      <input
        id="username-textbox"
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
        formControlName="userName"
      />
      <div
        id="username-error"
        *ngIf="userName.errors?.required && userName.touched"
        class="error"
      >
        username is required
      </div>

      <label id="password-label" for="psw"><b>Password</b></label>
      <input
        type="password"
        id="password-textbox"
        placeholder="Enter Password"
        name="psw"
        required
        formControlName="password"
      />
      <div
        id="password-error"
        *ngIf="password.errors?.required && password.touched"
        class="error"
      >
        password is required
      </div>

      <button id="login-button" type="submit" (click)="login()">Login</button>

      <div id="login-error" *ngIf="loginForm.errors?.invalid" class="error">
        username or password invalid
      </div>
    </div>
  </form>
</div>
